In [1]:
import pandas as pd

In [14]:
compiled = pd.read_csv('bluecarbondata_compiled.csv')
compiled.head()

,Ecosystem,Location,General location,Latitude,Longitude,Study,Year,Citation,Original Article if Cited in Review
0,SaltMarsh,"Alviso, San Francisco Bay, Calif.",California,37.5,-122.0,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990
1,SaltMarsh,"Bird Island, San Francisco Bay, Calif.",California,37.6,-122.2,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990
2,SaltMarsh,"Tijuana Slough, Calif.",California,32.6,-117.1,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon unpublished data 1993
3,SaltMarsh,"Tijuana Slough, Calif.",California,32.5,-117.1,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon et al 1996
4,SaltMarsh,"Tijuana Slough, Calif.",California,32.6,-117.1,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon unpublished data 1993

In [19]:
print(len(compiled))
print(len(compiled.dropna()))
print(len(compiled.dropna(subset=['Latitude','Longitude'])))
print(len(set(compiled['Latitude'])))
print(len(set(compiled['Longitude'])))

1099
1098
1099
211
225

In [26]:
compiled['latlon'] = [str(x['Latitude'])+'_'+str(x['Longitude']) for ix,x in compiled.iterrows()]
compiled.head()

,Ecosystem,Location,General location,Latitude,Longitude,Study,Year,Citation,Original Article if Cited in Review,latlon
0,SaltMarsh,"Alviso, San Francisco Bay, Calif.",California,37.5,-122.0,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990,37.5_-122.0
1,SaltMarsh,"Bird Island, San Francisco Bay, Calif.",California,37.6,-122.2,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990,37.6_-122.2
2,SaltMarsh,"Tijuana Slough, Calif.",California,32.6,-117.1,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon unpublished data 1993,32.6_-117.1
3,SaltMarsh,"Tijuana Slough, Calif.",California,32.5,-117.1,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon et al 1996,32.5_-117.1
4,SaltMarsh,"Tijuana Slough, Calif.",California,32.6,-117.1,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon unpublished data 1993,32.6_-117.1

In [31]:
len(set(compiled['latlon']))

242

In [32]:
unique = compiled.drop_duplicates(subset='latlon')
print(len(unique))
unique.head()

242

,Ecosystem,Location,General location,Latitude,Longitude,Study,Year,Citation,Original Article if Cited in Review,latlon
0,SaltMarsh,"Alviso, San Francisco Bay, Calif.",California,37.50,-122.00,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990,37.5_-122.0
1,SaltMarsh,"Bird Island, San Francisco Bay, Calif.",California,37.60,-122.20,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990,37.6_-122.2
2,SaltMarsh,"Tijuana Slough, Calif.",California,32.60,-117.10,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon unpublished data 1993,32.6_-117.1
3,SaltMarsh,"Tijuana Slough, Calif.",California,32.50,-117.10,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon et al 1996,32.5_-117.1
5,SaltMarsh,Ballona Wetlands Los Angeles,California,33.97,-118.44,Brevik and Homburg,2004,"Brevik, E. C. and J. A. Homburg (2004). ""A 500...",Orson et al 1998,33.97_-118.44

In [33]:
from collections import Counter
Counter(unique['Ecosystem'])

Counter({'SaltMarsh': 71, 'Seagrass': 116, 'Mangrove': 55})

In [36]:
unique.to_csv('bluecarbondata_unique.csv', index=False)
unique[['Ecosystem','Latitude','Longitude']].to_csv('bluecarbondata_coordinates.csv',index=False)

## create train valid test dfs separately

In [2]:
unique = pd.read_csv('bluecarbondata_unique.csv')
unique.head()

,Ecosystem,Location,General location,Latitude,Longitude,Study,Year,Citation,Original Article if Cited in Review,latlon,dataset
0,SaltMarsh,"Alviso, San Francisco Bay, Calif.",California,37.50,-122.00,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990,37.5_-122.0,valid
1,SaltMarsh,"Bird Island, San Francisco Bay, Calif.",California,37.60,-122.20,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Patrick and DeLaune 1990,37.6_-122.2,valid
2,SaltMarsh,"Tijuana Slough, Calif.",California,32.60,-117.10,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon unpublished data 1993,32.6_-117.1,valid
3,SaltMarsh,"Tijuana Slough, Calif.",California,32.50,-117.10,Chmura et al.,2003,"Chmura, G. L., S. C. Anisfeld, et al. (2003). ...",Cahoon et al 1996,32.5_-117.1,valid
4,SaltMarsh,Ballona Wetlands Los Angeles,California,33.97,-118.44,Brevik and Homburg,2004,"Brevik, E. C. and J. A. Homburg (2004). ""A 500...",Orson et al 1998,33.97_-118.44,valid

In [3]:
train = unique[unique['dataset']=='train']
valid = unique[unique['dataset']=='valid']
test = unique[unique['dataset']=='test']

In [5]:
from collections import Counter
print(Counter(unique['Ecosystem']))
print(Counter(train['Ecosystem']))
print(Counter(valid['Ecosystem']))
print(Counter(test['Ecosystem']))

Counter({'Seagrass': 116, 'SaltMarsh': 71, 'Mangrove': 55})
Counter({'Seagrass': 104, 'SaltMarsh': 60, 'Mangrove': 45})
Counter({'Seagrass': 8, 'Mangrove': 7, 'SaltMarsh': 5})
Counter({'SaltMarsh': 6, 'Seagrass': 4, 'Mangrove': 3})

In [6]:
train[['Ecosystem','Latitude','Longitude']].to_csv('train_coordinates.csv',index=False)
valid[['Ecosystem','Latitude','Longitude']].to_csv('valid_coordinates.csv',index=False)
test[['Ecosystem','Latitude','Longitude']].to_csv('test_coordinates.csv',index=False)